textarea {
    font-family: Tahoma, Verdana, sans-serif;
    height: 20vh;
    width: 100vw;
    border-width: 1px;
    font-size: 10vh;
    margin: 0;
    padding: 0;
    border-color: black;
    display: block;
    box-sizing: border-box;
    text-align: center;
    line-height: 20vh;
    text-align: center;
    overflow: hidden;
    resize: none;
}

body{
    margin: 0;
    padding: 0;
}
#TL {background-color: rgb(255, 0, 0);}
#L {background-color: rgb(255, 140, 0);}
#N {background-color: rgb(255, 255, 0);}
#O {background-color: rgb(173, 255, 47);}
#VG {background-color: rgb(0, 255, 0);}
